<div class="pagination">
    <button [disabled]="previousDisabled" (click)="previousPage()" class="icon-button previous">
        <i class="icon icon-caret-left"></i>
    </button>
    <span>Page </span>
    <input type="number" [(ngModel)]="currentPage" [disabled]="nextDisabled && previousDisabled" (keyup.enter)="changePage()" (blur)="changePage()"/>
    <span> of {{pageCount()}}</span>
    <button [disabled]="nextDisabled" (click)="nextPage()" class="icon-button next">
        <i class="icon icon-caret-right"></i>
    </button>
</div>
